opt/gemeinschaft/inc/boi-soap/wsdl/guiintegration-m02.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="guiintegration"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="guiintegration.wsdl"
	xmlns:tns="guiintegration.wsdl"
	>
	<!-- $Revision$ -->
	
	
	<message name="GetMenuRequest">
		<part name="role"       type="xsd:string"/>
		<part name="extension"  type="xsd:string"/>
	</message>
	
	<!-- array with structure array(array('title' => item name, 'link' => relative URL), ...) -->
	<!-- if relative item link is an empty string, we have a main menu -->
	<message name="GetMenuResponse">
		<part name="menu"       type="soapenc:Array" soapenc:arrayType="soapenc:Array[]"/>
	</message>
	
	
	<message name="CreateSessionRequest">
		<part name="role"       type="xsd:string"/>
		<part name="extension"  type="xsd:string"/>
	</message>
	
	<message name="CreateSessionResponse">
		<part name="session_id" type="xsd:string"/>
	</message>
	
	
	<message name="DestroySessionRequest">
		<part name="session_id" type="xsd:string"/>
	</message>
	
	<message name="DestroySessionResponse">
	</message>
	
	
	<!--
	<message name="GetServerInfoRequest">
	</message>
	
	<message name="GetServerInfoResponse">
		<part name="info"       type="soapenc:Array" soapenc:arrayType="soapenc:Array[]"/>
	</message>
	-->
	
	
	<portType name="GUIIntegrationType">
		<operation name="getMenu">
			<input  message="tns:GetMenuRequest"/>
			<output message="tns:GetMenuResponse"/>
		</operation>
		<operation name="createSession">
			<input  message="tns:CreateSessionRequest"/>
			<output message="tns:CreateSessionResponse"/>
		</operation>
		<operation name="destroySession">
			<input  message="tns:DestroySessionRequest"/>
			<output message="tns:DestroySessionResponse"/>
		</operation>
		<!--
		<operation name="getServerInfo">
			<input  message="tns:GetServerInfoRequest"/>
			<output message="tns:GetServerInfoResponse"/>
		</operation>
		-->
	</portType>
	
	<binding name="PBXSoapBinding" type="tns:GUIIntegrationType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getMenu">
			<soap:operation soapAction="urn:guiServer#getMenu"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="createSession">
			<soap:operation soapAction="urn:guiServer#createSession"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="destroySession">
			<soap:operation soapAction="urn:guiServer#destroySession"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<!--
		<operation name="getServerInfo">
			<soap:operation soapAction="urn:guiServer#getServerInfo"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		-->
	</binding>
	
	<service name="GUIIntegrationService">
		<port name="GUIIntegrationPort" binding="tns:PBXSoapBinding">
			<soap:address location="http://dummy/soap/guiServer.php"/>
		</port>
	</service>
	
</definitions>
