opt/gemeinschaft/inc/boi-soap/wsdl/updateextension-m01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="updateextension"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="updateextension.wsdl"
	xmlns:tns="updateextension.wsdl"
	>
	<!-- $Revision$ -->
	
	
	<!-- array with structure array(array('key' => 'value'), ...) -->
	<!-- List of supported parameter keys:
		parameter name="SubscriberSIPName"          - SIP username
		parameter name="SubscriberAccountPasswd"    - SIP password
		parameter name="SubscriberIntNumber"        - phone number in intl. format (+49...)
		parameter name="SubscriberVmPin"            - PIN
		parameter name="SubscriberPersNr"           - username
		parameter name="SubscriberName"             - display name
		parameter name="SubscriberVmEmail"          - e-mail address
		parameter name="SubscriberTelType"          - phone type
		parameter name="SubscriberOutboundProxy"    - outbound proxy
	-->
	<!-- List of supported actions:
		- "update" : normal update
		- "default": reset to default values (?)
	-->
	<message name="UpdateExtensionRequest">
		<part name="extension" type="xsd:string"/>
		<part name="data"      type="xsd:array"/>
		<!-- xsd:array is invalid but works -->
		<part name="action"    type="xsd:string"/>
	</message>
	
	<!--
		errorcode .gt. 0: OK
		errorcode .lt. 0: ERROR
	-->
	<message name="UpdateExtensionResponse">
		<part name="errorcode" type="xsd:integer"/>
	</message>
	
	
	<!--
	<message name="GetServerInfoRequest">
	</message>
	
	<message name="GetServerInfoResponse">
		<part name="info"      type="xsd:array"/>
		< ! - - xsd:array is invalid but works - - >
	</message>
	-->
	
	
	<portType name="UpdateExtensionPortType">
		<operation name="updateExtension">
			<input  message="tns:UpdateExtensionRequest"/>
			<output message="tns:UpdateExtensionResponse"/>
		</operation>
		<!--
		<operation name="getServerInfo">
			<input  message="tns:GetServerInfoRequest"/>
			<output message="tns:GetServerInfoResponse"/>
		</operation>
		-->
	</portType>
	
	<binding name="UpdateExtensionBinding" type="tns:UpdateExtensionPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="updateExtension">
			<soap:operation soapAction="urn:extensionServer#updateExtension"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<!--
		<operation name="getServerInfo">
			<soap:operation soapAction="urn:extensionServer#getServerInfo"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		-->
	</binding>
	
	<service name="UpdateExtensionService">
		<port name="UpdateExtensionPort" binding="tns:UpdateExtensionBinding">
			<soap:address location="http://dummy/soap/extensionServer.php"/>
		</port>
	</service>
	
</definitions>
